<% include ../partials/header %>

<div class="pusher">
	<div class="ui vertical masthead segment">
	    <div class="ui text container">
			<div class="ui raised very padded text container segment">
                <h1 class="ui header">
                    <%= user.username %> Profile
                    <%= user %>
                </h1>
                <form method="POST" action="/profile/<%= user.id %>/follow">
                    <button class="ui green button" type="submit">
                        <i class="user icon"></i>
                        Follow
                    </button>
                </form>
                <button class="ui green button">
                    <i class="mail outline icon"></i>
                    Send Message
                </button>
                <div class="segment">
                    <div class="ui blue divider"></div>
                    <h3>About Me</h3>
                    <% if (user.avatar) { %>
                        <img src="/<%= user.avatar %>" class="">
                    <% } %>
                    <p>
                        <strong>Location</strong>: <%= user.location %><br>
                        <strong>Interests</strong>: <%= user.interests %><br>
                        <strong>Top Five Favorite Authors</strong>: <%= user.topFiveAuthors %><br>
                    </p>
			    </div>
			</div>
	    </div>
    </div>
</div>

<% include ../partials/footer %>
