<% include ../partials/header %>

<div class="pusher">
	<div class="ui vertical masthead segment">
	    <div class="ui text container">
			<div class="ui raised very padded text container segment">
			  <h1 class="ui header">
                    Profile
                    <a href="/profile/<%=currentUser.id%>/edit" class="sub blue edit header">Edit Profile</a>
              </h1>
			  <div class="segment">
                  <a href="/logout" class="ui button basic">Logout</a>
                  <div class="ui blue divider"></div>
                  <h3>About Me</h3>
                  <p>
                      <strong>Location</strong>: <%= currentUser.location %><br>
                      <strong>Interests</strong>: <%= currentUser.interests %><br>
                      <strong>Top Five Favorite Authors</strong>: <%= currentUser.topFiveAuthors %><br>
                  </p>
			  	<% if (currentUser.local.email) { %>
			  	<h3>Local</h3>
                    <p>
                        <strong>Username</strong>: <%= currentUser.username %><br>
                        <strong>email</strong>: <%= currentUser.local.email %><br>
                        <strong>password</strong>: **********
                    </p>
		  		<% } else if (currentUser.facebook.token) { %>
			  	<h3>Facebook</h3>
                    <p>
                        <strong>Username</strong>: <%= currentUser.username %><br>
                        <strong>email</strong>: <%= currentUser.facebook.email %><br>
                        <strong>password</strong>: **********
                    </p>
		  		<% } else if (currentUser.twitter.token) { %>
			  	<h3>Twitter</h3>
                    <p>
                        <strong>Username</strong>: <%= currentUser.username %><br>
                        <strong>email</strong>: <%= currentUser.twitter.token %><br>
                        <strong>password</strong>: **********
                    </p>
		  		<% } else if (currentUser.google.token) { %>
			  	<h3>Google</h3>
                    <p>
                        <strong>Username</strong>: <%= currentUser.username %><br>
                        <strong>email</strong>: <%= currentUser.google.email %><br>
                        <strong>password</strong>: **********
                    </p>
		  		<% } %>
			  </div>
			</div>
	    </div>
    </div>
</div>

<% include ../partials/footer %>
