<% include ../partials/header %>


<div id="main-title" class="ui raised very padded text container segment">
  <h1 class="ui header">Edit <%=book.title%></h1>
  <form class="ui form" action="/books/<%=book._id%>?_method=PUT" method="POST">
    <div class="field">
      <label>Title</label>
      <%=book.title%>
    </div>
    <div class="field">
      <label>Description</label>
      <%=book.description%>
    </div>
      <div class="field">
      <label>Author</label>
      <%=book.author%>
    </div>
    <div class="field">
      <label>Your notes</label>
      <textarea row="4" name="book[thoughts]"><%=book.thoughts%></textarea>
    </div>

    <button type="submit" class="ui tiny green basic button">Submit</button>
  </form>
</div>

<% include ../partials/footer %>