<% include ../partials/header %>

<div id="main-title" class="ui raised very padded text container segment">
  <h1 class="ui header"><%=book.title%></h1>
  <p><%=book.description%></p>
  <div class="ui comments">
    <% book.comments.forEach(function(comment){ %>
      <div class="comment">
        <a class="avatar">
          <img src="https://semantic-ui.com/images/avatar/small/matt.jpg">
        </a>
        <div class="content">
          <a class="author"><%=comment.author.username%></a>
          <div class="metadata">
            <span class="date">Today at 5:42PM</span>
          </div>
          <div class="text">
            <%=comment.text%>
          </div>
          <div class="actions">
              <a class="reply">Reply</a>

            <% if (comment.author.id.equals(currentUser._id)) { %>
              <a href="/books/<%=book.id%>/comments/<%=comment._id%>/edit" class="edit">Edit</a>
              <form class="inline-element" action="/books/<%=book.id%>/comments/<%=comment._id%>?_method=DELETE" method="POST" class="delete">
                <input type="submit" class="delete" value="Delete"/>       
              </form>      
            <% } %>
          </div>
        </div>
      </div>
    <% })%>
  </div>
  <div class="ui divider"></div>
  <% if(!currentUser){%> 
    <div class="item">
      <p><a href="/login">Log in</a> to comment</p>
    </div>
  <% } else { %>
    <form class="ui form" action="/books/<%=book._id%>/comments" method="POST">
      <div class="field">
        <textarea placeholder="comment" rows="2" name="comment[text]"></textarea>
      </div>
      <button type="submit" class="ui tiny green basic button">post comment</button>
    </form>
  <%}%>
  <div class="ui divider"></div>

  <% if(currentUser && book.postedBy.id.equals(currentUser._id)) { %>
    <a href="/books/<%=book.id%>/edit" class="ui tiny blue basic button">edit</a>
      <form class="inline-element" action="/books/<%=book.id%>?_method=DELETE" method="POST">
        <button class="ui tiny red basic button" type="submit">delete</button>
      </form>
  <%}%>

</div>

<% include ../partials/footer %>