<% include partials/header %>

<% if(!currentUser){%> 
  <div class="landing-hero ui inverted vertical masthead center aligned segment">
    <div class="ui text container hero__inner">
      <h1 class="ui inverted header">
        BIHKAL
      </h1>
      <h2>Books I Have Known and Loved:<br>A platform for readers</h2>
      <a href="/login" class="ui inverted button">Log in</a>
      <a href="/register" class="ui inverted button">Sign Up</a>
    </div>
  </div>
<%} else { %>
  <div>Welcome back</div>
<% } %>  
<div id="main-title" class="ui raised very padded text container segment">
  <h1 class="ui header"> </h1>
  <div class="ui divided items">
  <% books.forEach(function(book){ %>
    <div class="item book_cards">
      <div class="ui tiny image">
        <img class="book_thumbnail" src="<%=book.thumbnail%>">

      </div>
      <div class="content">
        <div class="header"><%=book.title%></div>
      <div class="meta">
          <% if (book.postedBy.avatar) { %>
            <img src="/<%= book.postedBy.avatar %>" class="ui avatar image">
          <% } %>
        <span> - <a href="/profile/<%=book.postedBy.id%>"><%=book.postedBy.username%></a></span>
      </div>
    <% if(book.thoughts){ %>
      <p><%=book.thoughts.substring(0, 100);%>...</p>
      <%}%>
    <a href="/books/<%=book._id%>">read more</a>
    </div>
  </div>
  <%})%>
    
  </div>
</div>
<% include partials/footer %>
