<% include partials/header %>

<div class="pusher">
	<div class="ui vertical masthead segment">
	    <div class="ui text container">
			<div class="ui raised very padded text container segment">
			  <h1 class="ui header">Profile</h1>
			  <div class="segment">
			  	<a href="/logout" class="ui button basic">Logout</a>
			  	<% if (currentUser.local.email) { %>
			  	<h3>Local</h3>
                    <p>
                        <strong>id</strong>: <%= currentUser._id %><br>
                        <strong>email</strong>: <%= currentUser.local.email %><br>
                        <strong>password</strong>: <%= currentUser.local.password %>
                    </p>
		  		<% } else if (currentUser.facebook.token) { %>
			  	<h3>Facebook</h3>
                    <p>
                        <strong>id</strong>: <%= currentUser.facebook.id %><br>
                        <strong>email</strong>: <%= currentUser.facebook.email %><br>
                        <strong>name</strong>: <%= currentUser.facebook.name %>
                    </p>
		  		<% } else if (currentUser.twitter.token) { %>
			  	<h3>Twitter</h3>
                    <p>
                        <strong>id</strong>: <%= currentUser.twitter.id %><br>
                        <strong>email</strong>: <%= currentUser.twitter.token %><br>
                        <strong>password</strong>: <%= currentUser.twitter.displayName %><br>
                        <strong>password</strong>: <%= currentUser.twitter.username %>
                    </p>
		  		<% } else if (currentUser.google.token) { %>
			  	<h3>Google</h3>
                    <p>
                        <strong>name</strong>: <%= currentUser.google.name %><br>
                        <strong>email</strong>: <%= currentUser.google.email %><br>
                        <strong>password</strong>: <%= currentUser.google.email %><br>
                    </p>
		  		<% } %>
			  </div>
			</div>
	    </div>
    </div>
</div>

<% include partials/footer %>
