<% include ../partials/header %>

<!-- Post date string format -->
<%
  var d = book._id.getTimestamp();
  var postDate = (d.getMonth()+1) + "-" + d.getDate() + "-" + d.getFullYear(); 
%>

<div class="ui grid">
  <div class="row">
    <div id="main-title" class="ui raised very padded text centered container segment">
      <div class="ui items">
        <div class="ui item">
          <div class="ui tiny image">
            <img class="" src="<%=book.thumbnail%>">

          </div>
          <div class="content">
            <h1 class="ui header"><%=book.title%></h1>
            <div class="meta">
              <span class="author">author: <%=book.author%></span><br>
              <span class="date">published: <%=book.publishedDate%></span><br>
              <span class="posted_date">posted on <%= postDate %></span><br>
              <div>posted by:
                  <% if (book.postedBy.avatar) { %>
                <img src="/<%= book.postedBy.avatar %>" class="ui avatar image">
                  <% } %>
                <span> - <a href="/profile/<%=book.postedBy.id%>"><%=book.postedBy.username%></a></span><br/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h4 class="ui header">Description</h4>
      <p id="book-description"><%-book.description%></p>
      <h4 class="ui header">Readers thoughts</h4>
      <!-- if current user is same as author of comment, show edit button -->
      <p><%=book.thoughts%></p>
            <% if(currentUser && book.postedBy.id.equals(currentUser._id)) { %>
          <a href="/books/<%=book.id%>/edit" class="ui tiny blue basic button">edit post</a>
          <form class="inline-element" action="/books/<%=book.id%>?_method=DELETE" method="POST">
            <input class="ui tiny red basic button" type="submit" value="delete post"/>
          </form>

        <%}%>

      <div class="ui comments">
        <% book.comments.forEach(function(comment){
          // format publish date
          var d = comment._id.getTimestamp();
          var datestring = (d.getMonth()+1) + "-" + d.getDate() + "-" + d.getFullYear() + " " +
          d.getHours() + ":" + d.getMinutes(); %>
        <div class="ui divider"></div>
          <div class="comment">
            <div class="content">
              <a class="author"><%=comment.author.username%></a>
              <div class="metadata">
                <span class="date"><%= datestring %></span>
              </div>
              <div class="text">
                <%=comment.text%>
              </div>
              <div class="actions">

                <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                  <a href="/books/<%=book.id%>/comments/<%=comment._id%>/edit" class="edit">Edit</a>
                  <form class="inline-element" action="/books/<%=book.id%>/comments/<%=comment._id%>?_method=DELETE" method="POST" class="delete">
                    <input type="submit" class="delete" value="Delete"/>
                  </form>
                  <% } %>
                </div>
              </div>
            </div>
        <% })%>

        <div class="ui divider"></div>
        <% if(!currentUser){%>
          <div class="item">
            <p><a href="/login">Log in</a> or <a href="/register">sign up</a> to comment</p>
          </div>
        <% } else { %>
          <form class="ui form" action="/books/<%=book._id%>/comments" method="POST">
            <div class="field">
              <textarea placeholder="comment" rows="2" name="comment[text]"></textarea>
            </div>
            <button type="submit" class="ui tiny green basic button">post comment</button>
          </form>
        <%}%>
        <div class="ui divider"></div>
      </div>
    </div>
  </div>
</div>





<% include ../partials/footer %>